*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    max-width: 1140px;
    height: 140px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head1
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ph1
        {
            font-weight: 500;
            color: #686868;
        }
        .divh2
        {
            display: flex;
            gap: 10px;
            align-items: center;
            .eye
            {
                width: 20px;
                height: 20px;
            }
            p
            {
                font-size: 18px;
                font-weight: 500;
                color: #686868;
            }
        }
        .divh1
        {
            display: flex;
            gap: 20px;
            align-items: center;
            h3
            {
                font-size: 22px;
                font-weight: 500;
            }
            button
            {
                width: 196px;
                height: 36px;
                border-radius: 18px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to bottom, #3BB96D, #279A59);
                color: white;
                font-size: 14px;
            }
        }
    }
    .head2
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img
        {
            width: 144px;
            height: 38px;
        }
        p
        {
            font-size: 18px;
            color: #0D233B;
        }
        .menu
        {
            display: none;
        }
    }
    .head3
    {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 12px;
        color: #0D233B;
        p
        {
            font-weight: 400;
        }
        .samp
        {
            width: 12px;
            height: 12px;
        }
        h4
        {
            font-weight: 600;
        }
    }
}
    @mixin conts($a, $b) {
        max-width: 560px;
        height: 333px;
        border-radius: 5px;
        background-image: linear-gradient($a, $b);
        color: white;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2
        {
            width: 60%;
            font-size: 30px;
            font-weight: 700;
        }
        p
        {
            width: 60%;
        }
        h3
        {
            font-size: 18px;
            font-weight: 700;
        }
        button
        {
            width: 178px;
            height: 38px;
            border-radius: 30px;
            border: none;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            background-color: white;
            color: #279A59;
            .pBtn
            {
                font-size: 14px;
                font-weight: 700;
            }
            .samp
            {
                width: 18px;
                height: 18px;
            }
        }
            .img
            {
                max-width: 295px;
                max-height: 262px;
                position: absolute;
                bottom: 5px;
                right: 5px;
            }   

    }

.sec1
{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    h1
    {
        font-size: 40px;
        font-weight: 700;
        color: #0D233B;
    }
    .Cont
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .MRT1
        {
            @include conts(#3BB96D, #279A59)
        }
        .MRT2
        {
            @include conts(#27C8DA, #24BFD0)
        }
    }
}
@mixin boxes{
    max-width: 362px;
    height: 178px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px #00000026;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img
    {
        width: 80px;
        height: 80px;
    }
    p
    {
        font-size: 18px;
        font-weight: 500;
        color: #434343;
    }
}
.sec2
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    h1
    {
        font-size: 40px;
        font-weight: 700;
        color: #0D233B;
    }
    .Cont
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .box
        {
            @include boxes()
        }
    }
}









@media (max-width: 510px) {
    .head1
    {
        display: none !important;
    }
    .head2
    {
        p
        {
            display: none;
        }
        .menu
        {
            display: block !important;
            width: 40px;
            height: 40px;
        }
    }
    header
    {
        height: 80px;
    }
    .sec1
    {
        width: 90%;
        .Cont
        {
            flex-direction: column;
            row-gap: 30px;
            .MRT1
            {
                max-height: 624px;
                padding-bottom: 220px;
                h2, p
                {
                    width: 100% !important;
                }
                .img
                {
                    bottom: 0;
                    right: 0;
                }
            }
            .MRT2
            {
                max-height: 624px;
                padding-bottom: 220px;
                h2, p
                {
                    width: 100% !important;
                }
                .img
                {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    .sec2
    {
        width: 90%;
        .Cont
        {
            flex-wrap: wrap;
        }
    }
}