*
{
    margin: 0;
    font-family: sans-serif;
}
header
{
    max-width: 1140px;
    height: 140px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .head1
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ph1
        {
            font-weight: 500;
            color: #686868;
        }
        .divh2
        {
            display: flex;
            gap: 10px;
            align-items: center;
            .eye
            {
                width: 20px;
                height: 20px;
            }
            p
            {
                font-size: 18px;
                font-weight: 500;
                color: #686868;
            }
        }
        .divh1
        {
            display: flex;
            gap: 20px;
            align-items: center;
            h3
            {
                font-size: 22px;
                font-weight: 500;
            }
            button
            {
                width: 196px;
                height: 36px;
                border-radius: 18px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(to bottom, #3BB96D, #279A59);
                color: white;
                font-size: 14px;
            }
        }
    }
    .head2
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img
        {
            width: 144px;
            height: 38px;
        }
        p
        {
            font-size: 18px;
            color: #0D233B;
        }
        .menu
        {
            display: none;
        }
    }
    .head3
    {
        display: flex;
        gap: 5px;
        align-items: center;
        font-size: 12px;
        color: #0D233B;
        p
        {
            font-weight: 400;
        }
        .samp
        {
            width: 12px;
            height: 12px;
        }
        h4
        {
            font-weight: 600;
        }
    }
}
    @mixin conts($a, $b) {
        max-width: 560px;
        height: 333px;
        border-radius: 5px;
        background-image: linear-gradient($a, $b);
        color: white;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2
        {
            width: 60%;
            font-size: 30px;
            font-weight: 700;
        }
        p
        {
            width: 60%;
        }
        h3
        {
            font-size: 18px;
            font-weight: 700;
        }
        button
        {
            width: 178px;
            height: 38px;
            border-radius: 30px;
            border: none;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            background-color: white;
            color: #279A59;
            .pBtn
            {
                font-size: 14px;
                font-weight: 700;
            }
            .samp
            {
                width: 18px;
                height: 18px;
            }
        }
            .img
            {
                max-width: 295px;
                max-height: 262px;
                position: absolute;
                bottom: 5px;
                right: 5px;
            }   

    }

.sec1
{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    h1
    {
        font-size: 40px;
        font-weight: 700;
        color: #0D233B;
    }
    .Cont
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .MRT1
        {
            @include conts(#3BB96D, #279A59)
        }
        .MRT2
        {
            @include conts(#27C8DA, #24BFD0)
        }
    }
}
@mixin boxes{
    max-width: 362px;
    height: 178px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px #00000026;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    img
    {
        width: 80px;
        height: 80px;
    }
    p
    {
        font-size: 18px;
        font-weight: 500;
        color: #434343;
    }
}
.sec2
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    h1
    {
        font-size: 40px;
        font-weight: 700;
        color: #0D233B;
    }
    .Cont
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .box
        {
            @include boxes()
        }
    }
}
@mixin boards{
    width: 270px;
    height: 222px;
    border-radius: 10px;
    border: 1px solid #C4CDD4;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .img
    {
        width: 50px;
        height: 50px;
    }
    h2
    {
        font-size: 22px;
        font-weight: 700;
        color: #3BB96D;
    }
    .line
    {
        width: 50px;
    }
    div
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p
        {
            font-weight: 500;
            color: #0D233B;
        }
    }
}
.sec3
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    h1
    {
        font-size: 40px;
        font-weight: 700;
        color: #0D233B;
    }
    .Cont
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .box
    {
        @include boards
    }
}
.sec4
{
    width: 100%;
    height: 504px;
    margin-top: 150px;
    padding-top: 80px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    .text
    {
        width: 1200px;
        height: 424px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        color: white;
        position: relative;
        h1
        {
            font-size: 30px;
            font-weight: 700;
        }
        .parts
        {
            width: 100%;
            display: flex; 
            gap: 20px;
            .part1
            {
                display: flex;
                flex-direction: column;
                row-gap: 7px;
                p
                {
                    display: flex;
                    align-items: center; gap: 5px;
                    .sm
                    {
                        font-size: 24px;
                        font-weight: 1000;
                        color: #279A59;
                    }
                }
            }
        }
        img
        {
            position: absolute;
            width: 486px;
            height: 644px;
            bottom: -80px;
            right: 0;
        }
    }
}
.sec5
{
    width: 100%;
    height: 785px;
    background-image: url(./Images/Mask\ group\ \(4\).png);
    display: flex;
    justify-content: center;
    align-items: center;
    .license
    {
        width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1
        {
            font-size: 40px;
            font-weight: 700;
            color: #0D233B;
        }
        .imgl
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;
            .imgl1
            {
                width: 270px;
                height: 391px;
            }
        }
    }
}









@media (max-width: 510px) {
    .head1
    {
        display: none !important;
    }
    .head2
    {
        p
        {
            display: none;
        }
        .menu
        {
            display: block !important;
            width: 40px;
            height: 40px;
        }
    }
    header
    {
        height: 80px;
    }
    .sec1
    {
        width: 90%;
        .Cont
        {
            flex-direction: column;
            row-gap: 30px;
            .MRT1
            {
                max-height: 624px;
                padding-bottom: 220px;
                h2, p
                {
                    width: 100% !important;
                }
                .img
                {
                    bottom: 0;
                    right: 0;
                }
            }
            .MRT2
            {
                max-height: 624px;
                padding-bottom: 220px;
                h2, p
                {
                    width: 100% !important;
                }
                .img
                {
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    .sec2
    {
        width: 90%;
        .Cont
        {
            flex-wrap: wrap;
        }
    }
    .sec3
    {
        width: 90%;
        .Cont
        {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .sec4
    {
        width: 100%;
        height: 900px;
        .text
        {
            width: 90%;
            gap: 30px;
            h1
            {
                font-size: 26px;
            }
            .parts
            {
                flex-direction: column;
            }
            .img
            {
                display: none;
            }
        }
    }
    .sec5
    {
        width: 100%;
        height: 844px;
        .license
        {
            width: 90%;
            .imgl
            {
                width: 100%;
                gap: 10px;
                .imgl1
                {
                    width: 170px;
                    height: 250.46px;
                }
            }
        }
    }
}
