* {
  margin: 0;
  font-family: sans-serif;
}

header {
  max-width: 1140px;
  height: 140px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .head1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head1 .ph1 {
  font-weight: 500;
  color: #686868;
}
header .head1 .divh2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .head1 .divh2 .eye {
  width: 20px;
  height: 20px;
}
header .head1 .divh2 p {
  font-size: 18px;
  font-weight: 500;
  color: #686868;
}
header .head1 .divh1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .head1 .divh1 h3 {
  font-size: 22px;
  font-weight: 500;
}
header .head1 .divh1 button {
  width: 196px;
  height: 36px;
  border-radius: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #3BB96D, #279A59);
  color: white;
  font-size: 14px;
}
header .head2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head2 img {
  width: 144px;
  height: 38px;
}
header .head2 p {
  font-size: 18px;
  color: #0D233B;
}
header .head2 .menu {
  display: none;
}
header .head3 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  color: #0D233B;
}
header .head3 p {
  font-weight: 400;
}
header .head3 .samp {
  width: 12px;
  height: 12px;
}
header .head3 h4 {
  font-weight: 600;
}

.sec1 {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec1 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec1 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sec1 .Cont .MRT1 {
  max-width: 560px;
  height: 333px;
  border-radius: 5px;
  background-image: linear-gradient(#3BB96D, #279A59);
  color: white;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .Cont .MRT1 h2 {
  width: 60%;
  font-size: 30px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 p {
  width: 60%;
}
.sec1 .Cont .MRT1 h3 {
  font-size: 18px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 button {
  width: 178px;
  height: 38px;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #279A59;
}
.sec1 .Cont .MRT1 button .pBtn {
  font-size: 14px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 button .samp {
  width: 18px;
  height: 18px;
}
.sec1 .Cont .MRT1 .img {
  max-width: 295px;
  max-height: 262px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.sec1 .Cont .MRT2 {
  max-width: 560px;
  height: 333px;
  border-radius: 5px;
  background-image: linear-gradient(#27C8DA, #24BFD0);
  color: white;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .Cont .MRT2 h2 {
  width: 60%;
  font-size: 30px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 p {
  width: 60%;
}
.sec1 .Cont .MRT2 h3 {
  font-size: 18px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 button {
  width: 178px;
  height: 38px;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #279A59;
}
.sec1 .Cont .MRT2 button .pBtn {
  font-size: 14px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 button .samp {
  width: 18px;
  height: 18px;
}
.sec1 .Cont .MRT2 .img {
  max-width: 295px;
  max-height: 262px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.sec2 {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec2 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec2 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec2 .Cont .box {
  max-width: 362px;
  height: 178px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1490196078);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec2 .Cont .box img {
  width: 80px;
  height: 80px;
}
.sec2 .Cont .box p {
  font-size: 18px;
  font-weight: 500;
  color: #434343;
}

.sec3 {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec3 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec3 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec3 .box {
  width: 270px;
  height: 222px;
  border-radius: 10px;
  border: 1px solid #C4CDD4;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec3 .box .img {
  width: 50px;
  height: 50px;
}
.sec3 .box h2 {
  font-size: 22px;
  font-weight: 700;
  color: #3BB96D;
}
.sec3 .box .line {
  width: 50px;
}
.sec3 .box div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec3 .box div p {
  font-weight: 500;
  color: #0D233B;
}

.sec4 {
  width: 100%;
  height: 504px;
  margin-top: 150px;
  padding-top: 80px;
  background-color: #272727;
  display: flex;
  justify-content: center;
}
.sec4 .text {
  width: 1200px;
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: white;
  position: relative;
}
.sec4 .text h1 {
  font-size: 30px;
  font-weight: 700;
}
.sec4 .text .parts {
  width: 100%;
  display: flex;
  gap: 20px;
}
.sec4 .text .parts .part1 {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.sec4 .text .parts .part1 p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sec4 .text .parts .part1 p .sm {
  font-size: 24px;
  font-weight: 1000;
  color: #279A59;
}
.sec4 .text img {
  position: absolute;
  width: 486px;
  height: 644px;
  bottom: -80px;
  right: 0;
}

.sec5 {
  width: 100%;
  height: 785px;
  background-image: url(./Images/Mask\ group\ \(4\).png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec5 .license {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sec5 .license h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec5 .license .imgl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.sec5 .license .imgl .imgl1 {
  width: 270px;
  height: 391px;
}

.sec6 {
  width: 1120px;
  height: 299px;
  margin: auto;
  margin-top: 150px;
  border-radius: 60px;
  background-color: #272727;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  position: relative;
}
.sec6 h1 {
  font-size: 40px;
  font-weight: 700;
}
.sec6 button {
  width: 270px;
  height: 44px;
  border-radius: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #3BB96D, #279A59);
  color: white;
  font-size: 14px;
}
.sec6 .form {
  display: flex;
  gap: 20px;
}
.sec6 .form .form1 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sec6 .form .form1 h4 {
  font-weight: 600px;
}
.sec6 .form .form1 input {
  width: 240px;
  height: 14px;
  border: none;
  border-radius: 30px;
  background-color: #F1F5F8;
  padding: 15px;
}
.sec6 .pConf {
  font-size: 14px;
  font-weight: 500;
}
.sec6 .img {
  height: 449px;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  width: 100%;
  height: 325px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #279A59;
}
footer .foot {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  color: white;
}
footer .foot .adfoot {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  gap: 15px;
}
footer .foot .adfoot img {
  width: 162px;
  height: 42px;
}
footer .foot .adfoot p {
  font-size: 14px;
}
footer .foot .adfoot h4 {
  font-size: 14px;
  font-weight: 600;
}
footer .footclinic {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 18px;
  font-weight: 700;
}
footer .footclinic p {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 510px) {
  .head1 {
    display: none !important;
  }
  .head2 p {
    display: none;
  }
  .head2 .menu {
    display: block !important;
    width: 40px;
    height: 40px;
  }
  header {
    height: 80px;
  }
  .sec1 {
    width: 90%;
  }
  .sec1 .Cont {
    flex-direction: column;
    row-gap: 30px;
  }
  .sec1 .Cont .MRT1 {
    max-height: 624px;
    padding-bottom: 220px;
  }
  .sec1 .Cont .MRT1 h2, .sec1 .Cont .MRT1 p {
    width: 100% !important;
  }
  .sec1 .Cont .MRT1 .img {
    bottom: 0;
    right: 0;
  }
  .sec1 .Cont .MRT2 {
    max-height: 624px;
    padding-bottom: 220px;
  }
  .sec1 .Cont .MRT2 h2, .sec1 .Cont .MRT2 p {
    width: 100% !important;
  }
  .sec1 .Cont .MRT2 .img {
    bottom: 0;
    right: 0;
  }
  .sec2 {
    width: 90%;
  }
  .sec2 .Cont {
    flex-wrap: wrap;
  }
  .sec3 {
    width: 90%;
  }
  .sec3 .Cont {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sec4 {
    width: 100%;
    height: 900px;
  }
  .sec4 .text {
    width: 90%;
    gap: 30px;
  }
  .sec4 .text h1 {
    font-size: 26px;
  }
  .sec4 .text .parts {
    flex-direction: column;
  }
  .sec4 .text .img {
    display: none;
  }
  .sec5 {
    width: 100%;
    height: 844px;
  }
  .sec5 .license {
    width: 90%;
  }
  .sec5 .license .imgl {
    width: 100%;
    gap: 10px;
  }
  .sec5 .license .imgl .imgl1 {
    width: 170px;
    height: 250.46px;
  }
  .sec6 h1 {
    font-size: 36px;
  }
  .sec6 {
    max-width: 288px;
    height: 520px;
    padding: 30px 40px;
  }
  .sec6 .form {
    flex-wrap: wrap;
    gap: 20px;
  }
  .sec6 .img {
    display: none;
  }
  footer {
    height: 802px;
  }
  .foot {
    width: 90%;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 10px;
  }
  .foot .adfoot {
    width: 100%;
  }
  .foot .footclinic {
    width: 49%;
  }
}/*# sourceMappingURL=style.css.map */