* {
  margin: 0;
  font-family: sans-serif;
}

header {
  max-width: 1140px;
  height: 140px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .head1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head1 .ph1 {
  font-weight: 500;
  color: #686868;
}
header .head1 .divh2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .head1 .divh2 .eye {
  width: 20px;
  height: 20px;
}
header .head1 .divh2 p {
  font-size: 18px;
  font-weight: 500;
  color: #686868;
}
header .head1 .divh1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .head1 .divh1 h3 {
  font-size: 22px;
  font-weight: 500;
}
header .head1 .divh1 button {
  width: 196px;
  height: 36px;
  border-radius: 18px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #3BB96D, #279A59);
  color: white;
  font-size: 14px;
}
header .head2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head2 img {
  width: 144px;
  height: 38px;
}
header .head2 p {
  font-size: 18px;
  color: #0D233B;
}
header .head2 .menu {
  display: none;
}
header .head3 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  color: #0D233B;
}
header .head3 p {
  font-weight: 400;
}
header .head3 .samp {
  width: 12px;
  height: 12px;
}
header .head3 h4 {
  font-weight: 600;
}

.sec1 {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec1 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec1 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sec1 .Cont .MRT1 {
  max-width: 560px;
  height: 333px;
  border-radius: 5px;
  background-image: linear-gradient(#3BB96D, #279A59);
  color: white;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .Cont .MRT1 h2 {
  width: 60%;
  font-size: 30px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 p {
  width: 60%;
}
.sec1 .Cont .MRT1 h3 {
  font-size: 18px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 button {
  width: 178px;
  height: 38px;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #279A59;
}
.sec1 .Cont .MRT1 button .pBtn {
  font-size: 14px;
  font-weight: 700;
}
.sec1 .Cont .MRT1 button .samp {
  width: 18px;
  height: 18px;
}
.sec1 .Cont .MRT1 .img {
  max-width: 295px;
  max-height: 262px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.sec1 .Cont .MRT2 {
  max-width: 560px;
  height: 333px;
  border-radius: 5px;
  background-image: linear-gradient(#27C8DA, #24BFD0);
  color: white;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 .Cont .MRT2 h2 {
  width: 60%;
  font-size: 30px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 p {
  width: 60%;
}
.sec1 .Cont .MRT2 h3 {
  font-size: 18px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 button {
  width: 178px;
  height: 38px;
  border-radius: 30px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #279A59;
}
.sec1 .Cont .MRT2 button .pBtn {
  font-size: 14px;
  font-weight: 700;
}
.sec1 .Cont .MRT2 button .samp {
  width: 18px;
  height: 18px;
}
.sec1 .Cont .MRT2 .img {
  max-width: 295px;
  max-height: 262px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.sec2 {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec2 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec2 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec2 .Cont .box {
  max-width: 362px;
  height: 178px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1490196078);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec2 .Cont .box img {
  width: 80px;
  height: 80px;
}
.sec2 .Cont .box p {
  font-size: 18px;
  font-weight: 500;
  color: #434343;
}

.sec3 {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.sec3 h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0D233B;
}
.sec3 .Cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec3 .box {
  width: 270px;
  height: 222px;
  border-radius: 10px;
  border: 1px solid #C4CDD4;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sec3 .box .img {
  width: 50px;
  height: 50px;
}
.sec3 .box h2 {
  font-size: 22px;
  font-weight: 700;
  color: #3BB96D;
}
.sec3 .box .line {
  width: 50px;
}
.sec3 .box div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec3 .box div p {
  font-weight: 500;
  color: #0D233B;
}

@media (max-width: 510px) {
  .head1 {
    display: none !important;
  }
  .head2 p {
    display: none;
  }
  .head2 .menu {
    display: block !important;
    width: 40px;
    height: 40px;
  }
  header {
    height: 80px;
  }
  .sec1 {
    width: 90%;
  }
  .sec1 .Cont {
    flex-direction: column;
    row-gap: 30px;
  }
  .sec1 .Cont .MRT1 {
    max-height: 624px;
    padding-bottom: 220px;
  }
  .sec1 .Cont .MRT1 h2, .sec1 .Cont .MRT1 p {
    width: 100% !important;
  }
  .sec1 .Cont .MRT1 .img {
    bottom: 0;
    right: 0;
  }
  .sec1 .Cont .MRT2 {
    max-height: 624px;
    padding-bottom: 220px;
  }
  .sec1 .Cont .MRT2 h2, .sec1 .Cont .MRT2 p {
    width: 100% !important;
  }
  .sec1 .Cont .MRT2 .img {
    bottom: 0;
    right: 0;
  }
  .sec2 {
    width: 90%;
  }
  .sec2 .Cont {
    flex-wrap: wrap;
  }
  .sec3 {
    width: 90%;
  }
  .sec3 .Cont {
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */